In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

In [4]:
cc_df= pd.read_csv('/Users/michaelperrine/Library/CloudStorage/OneDrive-Personal/my_portfolio/my_portfolio/credit_card_fraud_dataset.csv')

In [5]:
cc_df.head()

,TransactionID,TransactionDate,Amount,MerchantID,TransactionType,Location,IsFraud
0,1,2024-04-03 14:15:35.462794,4189.27,688,refund,San Antonio,0
1,2,2024-03-19 13:20:35.462824,2659.71,109,refund,Dallas,0
2,3,2024-01-08 10:08:35.462834,784.00,394,purchase,New York,0
3,4,2024-04-13 23:50:35.462850,3514.40,944,purchase,Philadelphia,0
4,5,2024-07-12 18:51:35.462858,369.07,475,purchase,Phoenix,0

In [6]:
cc_df.shape

(100000, 7)